html {
  box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
  --color-light: #ffffff;
  --text-color: #757575;
}
/* скидання стилів */

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto';
  color: #212121;
  background-color: var(--color-light);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* контейнер */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo header WebStudio*/

header {
  border-bottom: 1px solid #ececec;
}

.logo_header {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo_header > .link {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.lover {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* logo footer WebStudio */
.logo_footer {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo_footer .logo_black_part {
  color: var(--color-light);
}

/* скасування колонтитулів */
ul {
  list-style-type: none;
}

.site_nav {
  display: flex;
  margin-left: 93px;
}
.site_nav .item + .item {
  margin-left: 50px;
}
.site_nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

/* формат шрифту навігаційних посилань */
.main_nav {
  display: flex;
  align-items: center;
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav:focus {
  color: var(--accent-color);
}
.nav:hover {
  color: var(--accent-color);
}
/* формат шрифту посилання телефон */

.contact_nav {
  display: flex;
  margin-left: auto;
}

.contact_nav .item + .item {
  margin-left: 50px;
}

.link_contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  fill: currentColor;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.link_contact:hover,
.link_contact:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.mail {
  margin-right: 30px;
}

.site_nav .link {
  display: block;
}
.contact_nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

/* центральний напис */
.hiro_titel {
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
  margin-left: auto;
  margin-right: auto;
}
/* центральний текст */
.center_text {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/fon.jpg);
    background-repeat: no-repeat ;
  background-position: center;
  text-align: center;
}

/* Центральна кнопка */
.button {
  display: inline-block;
  min-width: 216px;
  height: 50px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--color-light);
  cursor: pointer;
  background-color: var(--accent-color);

  margin-bottom: 0px;
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--color-light);
  border-color: var(--accent-color);
}

.text_button {
  margin: 10px 32px;
}

.benefits_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 25px 100px 25px 100px;
}

.border_benefits {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Кнопки портфоліо */
.button_portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 6px 22px;
  border-color: rgba(255, 255, 255, 0);
  background: #f5f4fa;
  border-radius: 8px;
}

.buttons .item + .item {
  margin-left: 8px;
}
.button_portfolio:hover {
  color: var(--color-light);
  background-color: var(--accent-color);
}
.button_portfolio:focus {
  color: var(--accent-color);
}

.section_title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* переваги */
.benefits {
  display: flex;
  inline-size: auto;
}

.container .benefits .item + .item {
  margin-left: 30px;
}

.benefits_title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits_detal {
  line-height: 1.71;
  color: var(--text-color);
}

/* Чим займаємось */

.job {
  padding-top: 0;
  padding-bottom: 0;
}

.container_works {
  margin-top: 0px;
  padding-bottom: 94px;
}

.container_works .item + .item {
  margin-left: 30px;
}
.container_works .foto {
  display: flex;
  justify-content: center;
}

/* Імена учасників команди */

.name_position {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.teams {
  padding-top: 0;
}

.team {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.our_team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.icon-group {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.icon-group:last-child {
  margin-right: 0;
}

.icon-group .icon {
  fill: #afb1b8;
}

.icon_contact {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon:hover,
.icon:focus {
  color: var(--accent-color);
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.our_team .item + .item {
  margin-left: 30px;
}

.team_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

/* посади учасникв */
.team_position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon {
  width: 20px;
  height: 20px;
}
.social_link {
  width: 44px;
  height: 44px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #afb1b8;
  fill: currentColor;
}

.social_link:hover,
.social_link:focus {
  fill: var(--color-light);
  background-color: var(--accent-color);
}

/*  стилізація назв проектів*/
.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-bottom: 4px;
  padding-top: 20px;
}

/* стилізація категорій  */
.category {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
  padding-left: 24px;
  padding-bottom: 20px;
}
/* активна поточна сторінка */
.current {
  color: var(--accent-color);
  text-decoration: none;
}
.сurrent:hover {
  color: var(--accent-color);
}
.сurrent:focus {
  color: var(--accent-color);
}

/* Постійні клієнти */

.client {
  padding-top: 0;
}

.icon {
  width: 106px;
  height: 60px;
}

/* футер */
footer li {
  margin-bottom: 10px;
}
.footer_item li:last-child {
  margin-bottom: 0;
}

footer {
  background: #2f303a;
}

.footer_block {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;

  align-items: center;
}

.flex {
  display: flex;
}

.footer_link {
  line-height: 24px;
  color: var(--color-light);
  text-decoration: none;
}
.footer_link:hover {
  color: var(--accent-color);
}
.footer_link:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

.footer_link_mail,
.footer_link_tel {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer_link_mail:hover,
.footer_link_tel:hover {
  color: var(--accent-color);
}
.footer_link_mail:focus,
.footer_link_tel:focus {
  color: var(--accent-color);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 20px;
}

.footer_join {
  margin-left: 70px;
}

.social_icon_footer {
  width: 20px;
  height: 20px;
}

.social_link_footer {
  background-color: #44454e;
  width: 44px;
  height: 44px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--color-light);
  fill: currentColor;
}
.social_link_footer:hover,
.social_link_footer:focus {
  background-color: var(--accent-color);
  fill: var(--color-light);
}

/* ПОРТФОЛІО */

.buttons {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price .title {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.price .title:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.price .title:nth-child(3n) {
  margin-right: 0;
}

.prices {
  padding-top: 0;
  margin-top: 50px;
}

/* скритий напис */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
